<div class="w-full mt-16">
<!--Container-->
<div class="m-auto max-w-7xl px-5 sm:px-8 flex flex-col md:flex-row justify-between gap-6">
    <!--title and description-->
    <div class="w-full md:w-72 lg:w-96 mt-4">
        <h3 class="text-center md:text-left font-extrabold text-3xl lg:text-5xl text-transparent bg-clip-text bg-gradient-to-r from-red-400 to-purple-800">My skills & services</h3>
        <p class="mt-6 text-gray-900 text-center md:text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, voluptates cupiditate voluptate debitis assumenda quasi.</p>
    </div>

    <!--card-->
    <div class="w-full md:max-w-xl grid grid-flow-row mt-10 sm:mt-0 sm:grid-cols-2 gap-4">
        <a href="#" class="w-full border-2 border-slate-200 rounded-[50px] px-6 py-10 hover:bg-teal-100 hover:border-teal-100 hover:shadow-md">
            <div class="w-16 lg:w-20 h-16 lg:h-20 bg-black rounded-full mb-4 m-auto sm:m-0"></div>
            <h4 class="text-lg font-extrabold my-3 text-center sm:text-left">Services</h4>
            <p class="text-slate-600 text-center sm:text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, cupiditate mollitia minus.</p>
        </a>  

        <a href="#" class="w-full border-2 border-slate-200 rounded-[50px] px-6 py-10 hover:bg-teal-100 hover:border-teal-100 hover:shadow-md">
            <div class="w-16 lg:w-20 h-16 lg:h-20 bg-black rounded-full mb-4 m-auto sm:m-0"></div>
            <h4 class="text-lg font-extrabold my-3 text-center sm:text-left">Services</h4>
            <p class="text-slate-600 text-center sm:text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, cupiditate mollitia minus.</p>
        </a>  
    </div>
</div>
</div>
