<!--HEADER-->
<header class="w-screen h-96 bg-gradient-to-r from-indigo-900 to-purple-900">
  <!--CONTENT CONTAINER-->
  <div class="max-w-7xl h-full m-auto grid grid-cols-1 md:grid-cols-2 items-center overflow-hidden gap-10 px-4 md:px-10">

    <!--PRESENTATION CONTAINER-->
    <div>
      <p class="mb-3 font-light text-gray-100 text-center md:text-left">Hi there,</p>
      <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl text-center md:text-left">I'm Lucas</h1>
      <p class="mb-3 text-teal-300 text-center md:text-left">FULL STACK DEVELOPER JUNIOR</p>
      <p class="mb-3 font-light text-gray-100 text-center md:text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>

      <!--BUTTONS-->
      <div class="mt-10 flex flex-col min-[311px]:flex-row gap-2 justify-center md:justify-start">
        <!--Button primary-->
        <app-button-primary
          
        ></app-button-primary>
        <!--Button secundary-->
        <app-button-secundary></app-button-secundary>
      </div>
    </div>

    <!--PICTURE CONTAINER-->
    <div class="hidden md:block w-full h-96 overflow-hidden">
      <img class="opacity-50 object-cover w-full h-96" src="../../assets/Taieri.svg" alt="">
    </div>  
  </div>
</header>
