<!--HEADER-->
<header class="w-screen h-screen bg-gradient-to-r from-black to-slate-900">
  <app-nav></app-nav>
  <!--CONTENT CONTAINER-->
  <div class="max-w-7xl h-full m-auto grid grid-cols-1 md:grid-cols-2 items-center overflow-hidden gap-10 px-4 md:px-10">

    <!--PRESENTATION CONTAINER-->
    <div>
      <h1 class="text-2xl text-gray-200 font-bold">Hi there,</h1>
      <h2 class="text-white text-7xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-300 to-red-200">I'm Lucas</h2>
      <p class="mt-2 text-teal-300">FULL STACK DEVELOPER JUNIOR</p>
      <p class="my-6 font-light text-gray-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquam at quod dolores commodi saepe facere ipsa et aliquid autem, veritatis exercitationem veniam fugit velit id cumque sequi excepturi nisi.</p>

      <!--BUTTONS-->
      <div class="mt-10 flex flex-col min-[311px]:flex-row gap-2 justify-center md:justify-start">
        <!--Button primary-->
        <app-button-primary
        [content]="'Contact me'"
        ></app-button-primary>

        <!--Button secundary-->
        <app-button-secundary
        [content]="'View my works'"
        ></app-button-secundary>
      </div>
    </div>

    <!--PICTURE CONTAINER-->
    <div class="w-full h-full flex justify-center items-center">
      <div class="w-80 h-80 bg-slate-800 rounded-3xl flex items-end">
        <img src="../../../assets/memoji.png" class="" alt="">
      </div>
      <div class="relative shadow-md right-96 top-40 w-24 h-24 bg-gradient-to-br from-blue-300 to-teal-200 rounded-3xl"></div>
      <div class="absolute right-36 top-32 w-32 h-32 bg-gradient-to-br from-purple-100 to-red-200 rounded-3xl"></div>
      <div class="absolute shadow-md right-10 top-[-24px] w-48 h-48 bg-gradient-to-br from-purple-300 to-blue-200 rounded-3xl"></div>

    </div>  
    
  </div>
</header>
